.nav {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    height: 4vh;
    justify-items: center;
    align-items: center;
}

.nav .item {
    margin: 1rem;
    display: flex;
    column-gap: 1rem;
}